*.txt
*~
\#*
*#
*.o
*.so
*.bak
Program
*.files
*.includes
*.creator*
/*.config
android/apk/app/build/*
/test-*
*.save
android/apk/.gradle
android/apk/app/src/main/assets/shaders
android/apk/app/src/main/assets/textures
