*.txt
*~
\#*
*#
*.o
*.so
*.bak
Program
*.files
*.includes
*.creator*
/*.config
/test-*
*.save
myy/platforms/android/apk/app/build/*
myy/platforms/android/apk/.gradle
myy/platforms/android/apk/app/src/main/assets/shaders
myy/platforms/android/apk/app/src/main/assets/textures
Generator/*/*.png
Generator/*/*.svg
Generator/*/*.bmp
Generator/*/*.raw
