*.txt
*~
\#*
*#
*.o
*.so
*.bak
Program
*.files
*.includes
*.creator*
/*.config
/test-*
*.save
.build
myy/platforms/android/apk/app/build/*
myy/platforms/android/apk/build/*
myy/platforms/android/apk/.gradle
myy/platforms/android/apk/app/src/main/assets/shaders
myy/platforms/android/apk/app/src/main/assets/textures
Generator/cards/*.svg
Generator/png/*.png
Generator/intermediates/*
Generator/result/*
Generator/android_icons/drawable*

